*{
    margin: 0;
    padding: 0;
}

#contenedor{
    width: 1200px;
    height: 10000px;
    background: #fb49;
    margin: 0.5em auto;
    padding: 0.5em;
}

#header{
    width: 15822px;
    height: 20%;
    background: #fb10;
    border-radius: 1em;
    margin: 1em;
}

#nav{
   width: 4852px;
    height: 10%;
    background: #f549;
    border-radius: 1em;
    margin: 1em;
}